Author: Shaw Rick\
Date: 01.10.2023\
Email: shawrick@codanica.com

# *PANDAS LIBRARY*

    The development of pandas was begun in 2008 by Wes MCKinney.

1. Use of  Pandas Library?\
   Pandas is a Python library used for data analysis and manipulation. It is built on top of the NumPy library and provides a variety of data structures and operations for manipulating numerical tables and time series.

### How to find the version?

In [275]:
import pandas as pd
pd.__version__

'2.0.3'

In [276]:
# another way
pd.show_versions()

c:\Users\pc\AppData\Local\Programs\Python\Python311\Lib\site-packages\_distutils_hack\__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

INSTALLED VERSIONS
------------------
commit           : 0f437949513225922d851e9581723d82120684a6
python           : 3.11.4.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.19045
machine          : AMD64
processor        : Intel64 Family 6 Model 58 Stepping 9, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_United States.1252

pandas           : 2.0.3
numpy            : 1.26.0
pytz             : 2023.3
dateutil         : 2.8.2
setuptools       : 65.5.0
pip              : 23.2.1
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : 4.9.3
html5lib         : 1.1
pymysql          : None
psycopg2         : None
jinja2           : 3.1.2
IPython          : 8.14.0
pandas_datareader: None
bs4              : 4.12.2
bottleneck       : None
brotli           : 1.0.9
fastparquet      : None
fsspec           : None
gcsfs            : None
matplotlib       : 3.7.1
numba            : None
numexpr          : None
odfpy            : None
openpyxl         : 3.1.2
pandas_gbq       : None
pyarrow          : None
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : 1.10.1
snappy           : None
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : 2023.8.0
xlrd             : 2.0.1
zstandard        : None
tzdata           : 2023.3
qtpy             : None
pyqt5            : None

# Hands on Practice on Pandas DataFrame

How to make a DataFrame using the library of Pandas along with solve exercise that would be helpful in understanding the basic concept of Pandas DataFrame.

In [274]:
#step-1
#importing libraries
import pandas as pd
import numpy as np

#### How to import datset in python using library

In [273]:
#step-2
# reading/importing data sets 
df_Xlsx = pd.read_excel("pandas_01_day6.xlsx") 
# write the path if you want to load data

#### Make a DataSets

If you work on another DataFrame so you just import the data. Either make a Dataframe example given below:

In [156]:
# object Creation
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [157]:
df # Store the data

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

DataFrames also have indexes. As you can see in the "table" above, pandas has assigned a numeric, autoincremental index automatically to each "row" in our DataFrame. In our case, we know that each row represents a country, so we'll just reassign the index:

In [158]:
df.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [85]:
df.columns #check the columns name that present in the dataframe

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent',
       'GDP Per Capita'],
      dtype='object')

In [86]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

In [87]:
df.info() #Get the informaiton about the data null values and data types as well

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Population      7 non-null      float64
 1   GDP             7 non-null      float64
 2   Surface Area    7 non-null      float64
 3   HDI             7 non-null      float64
 4   Continent       7 non-null      object
 5   GDP Per Capita  7 non-null      float64
dtypes: float64(5), object(1)
memory usage: 392.0+ bytes

In [88]:
df.size #Total rows and Columns

42

In [89]:
df.shape #Rows & Columns

(7, 6)

In [90]:
df.describe() #Statistical Information

       Population           GDP  Surface Area       HDI  GDP Per Capita
count    7.000000  7.000000e+00  7.000000e+00  7.000000        7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429    44952.254576
std     97.249970  5.494020e+06  4.576187e+06  0.016592     6954.983875
min     35.467000  1.785387e+06  2.424950e+05  0.873000    35733.025633
25%     62.308000  2.500716e+06  3.292250e+05  0.889500    40265.998421
50%     64.511000  2.950039e+06  3.779300e+05  0.907000    45729.239975
75%    104.000500  4.238402e+06  5.082873e+06  0.914000    49103.699626
max    318.523000  1.734808e+07  9.984670e+06  0.916000    54464.120330

In [91]:
df.dtypes #For Dtypes that present in the DataFrame

Population        float64
GDP               float64
Surface Area      float64
HDI               float64
Continent          object
GDP Per Capita    float64
dtype: object

In [92]:
df.dtypes.value_counts() #Total types of data

float64    5
object     1
Name: count, dtype: int64

#### Indexing, Selection and Slicing

Individual columns in the DataFrame can be selected with regular indexing. Each column is represented as a Series:

In [93]:
df

,Population,GDP,Surface Area,HDI,Continent,GDP Per Capita
Canada,35.467,1785387.0,9984670.0,0.913,America,50339.385908
France,63.951,2833687.0,640679.0,0.888,Europe,44310.284437
Germany,80.940,3874437.0,357114.0,0.916,Europe,47868.013343
Italy,60.665,2167744.0,301336.0,0.873,Europe,35733.025633
Japan,127.061,4602367.0,377930.0,0.891,Asia,36221.712406
United Kingdom,64.511,2950039.0,242495.0,0.907,Europe,45729.239975
United States,318.523,17348075.0,9525067.0,0.915,America,54464.120330

In [94]:
df.loc['Canada']

Population              35.467
GDP                  1785387.0
Surface Area         9984670.0
HDI                      0.913
Continent              America
GDP Per Capita    50339.385908
Name: Canada, dtype: object

In [95]:
df.iloc[-1]

Population            318.523
GDP                17348075.0
Surface Area        9525067.0
HDI                     0.915
Continent             America
GDP Per Capita    54464.12033
Name: United States, dtype: object

Note that the index of the returned Series is the same as the DataFrame one. And its name is the name of the column. If you're working on a notebook and want to see a more DataFrame-like format you can use the to_frame method:

In [96]:
df['Population'].to_frame()

                Population
Canada              35.467
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdom      64.511
United States      318.523

In [97]:
df['Population']

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

Multiple columns can also be selected similarly to numpy and Series:

In [19]:
df[['Population', 'GDP']]

                Population       GDP
Canada              35.467   1785387
France              63.951   2833687
Germany             80.940   3874437
Italy               60.665   2167744
Japan              127.061   4602367
United Kingdom      64.511   2950039
United States      318.523  17348075

In this case, the result is another DataFrame. Slicing works differently, it acts at "row level", and can be counter intuitive:

In [20]:
df[1:3]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

Row level selection works better with loc and iloc which are recommended over regular "direct slicing" (df[:]).

loc selects rows matching the given index:

In [99]:
df.loc['Italy']

Population              60.665
GDP                  2167744.0
Surface Area          301336.0
HDI                      0.873
Continent               Europe
GDP Per Capita    35733.025633
Name: Italy, dtype: object

In [100]:
df.loc['France': 'Italy']

         Population        GDP  Surface Area    HDI Continent  GDP Per Capita
France       63.951  2833687.0      640679.0  0.888    Europe    44310.284437
Germany      80.940  3874437.0      357114.0  0.916    Europe    47868.013343
Italy        60.665  2167744.0      301336.0  0.873    Europe    35733.025633

As a second "argument", you can pass the column(s) you'd like to select:

In [101]:
df.loc['France': 'Italy', 'Population']

France     63.951
Germany    80.940
Italy      60.665
Name: Population, dtype: float64

In [102]:
df.loc['France': 'Italy', ['Population', 'GDP']]

         Population        GDP
France       63.951  2833687.0
Germany      80.940  3874437.0
Italy        60.665  2167744.0

iloc works with the (numeric) "position" of the index:

In [103]:
df

,Population,GDP,Surface Area,HDI,Continent,GDP Per Capita
Canada,35.467,1785387.0,9984670.0,0.913,America,50339.385908
France,63.951,2833687.0,640679.0,0.888,Europe,44310.284437
Germany,80.940,3874437.0,357114.0,0.916,Europe,47868.013343
Italy,60.665,2167744.0,301336.0,0.873,Europe,35733.025633
Japan,127.061,4602367.0,377930.0,0.891,Asia,36221.712406
United Kingdom,64.511,2950039.0,242495.0,0.907,Europe,45729.239975
United States,318.523,17348075.0,9525067.0,0.915,America,54464.120330

In [104]:
df.iloc[0]

Population              35.467
GDP                  1785387.0
Surface Area         9984670.0
HDI                      0.913
Continent              America
GDP Per Capita    50339.385908
Name: Canada, dtype: object

In [107]:
df.iloc[-1] #This Function start from the last value

Population            318.523
GDP                17348075.0
Surface Area        9525067.0
HDI                     0.915
Continent             America
GDP Per Capita    54464.12033
Name: United States, dtype: object

In [108]:
df.iloc[[0, 1, -1]] #0 means print the first row, 1 means print the second row, -1 means print the last row of the data

,Population,GDP,Surface Area,HDI,Continent,GDP Per Capita
Canada,35.467,1785387.0,9984670.0,0.913,America,50339.385908
France,63.951,2833687.0,640679.0,0.888,Europe,44310.284437
United States,318.523,17348075.0,9525067.0,0.915,America,54464.120330

In [109]:
df.iloc[1:3] # : is work like a range that we assign for the specific row and columns

         Population        GDP  Surface Area    HDI Continent  GDP Per Capita
France       63.951  2833687.0      640679.0  0.888    Europe    44310.284437
Germany      80.940  3874437.0      357114.0  0.916    Europe    47868.013343

In [110]:
df.iloc[1:3, 3]

France     0.888
Germany    0.916
Name: HDI, dtype: float64

In [111]:
df.iloc[1:3, [0, 3]]

         Population    HDI
France       63.951  0.888
Germany      80.940  0.916

In [112]:
df.iloc[1:3, 1:3]

               GDP  Surface Area
France   2833687.0      640679.0
Germany  3874437.0      357114.0

#### Conditional Selection (Boolean Arrays)

We saw conditional selection applied to Series. It'll work in the same way for DataFrames. After all, a DataFrame is a collection of Series:

In [113]:
df

,Population,GDP,Surface Area,HDI,Continent,GDP Per Capita
Canada,35.467,1785387.0,9984670.0,0.913,America,50339.385908
France,63.951,2833687.0,640679.0,0.888,Europe,44310.284437
Germany,80.940,3874437.0,357114.0,0.916,Europe,47868.013343
Italy,60.665,2167744.0,301336.0,0.873,Europe,35733.025633
Japan,127.061,4602367.0,377930.0,0.891,Asia,36221.712406
United Kingdom,64.511,2950039.0,242495.0,0.907,Europe,45729.239975
United States,318.523,17348075.0,9525067.0,0.915,America,54464.120330

In [114]:
df['Population'] > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: Population, dtype: bool

In [115]:
df.loc[df['Population'] > 70]

,Population,GDP,Surface Area,HDI,Continent,GDP Per Capita
Germany,80.940,3874437.0,357114.0,0.916,Europe,47868.013343
Japan,127.061,4602367.0,377930.0,0.891,Asia,36221.712406
United States,318.523,17348075.0,9525067.0,0.915,America,54464.120330

The boolean matching is done at Index level, so you can filter by any row, as long as it contains the right indexes. Column selection still works as expected:

In [116]:
df.loc[df['Population'] > 70, 'Population']

Germany           80.940
Japan            127.061
United States    318.523
Name: Population, dtype: float64

In [117]:
df.loc[df['Population'] > 70, ['Population', 'GDP']]

               Population         GDP
Germany            80.940   3874437.0
Japan             127.061   4602367.0
United States     318.523  17348075.0

#### Dropping stuff

Opposed to the concept of selection, we have "dropping". Instead of pointing out which values you'd like to select you could point which ones you'd like to drop:

In [123]:
df.drop('Canada')

,Population,GDP,Surface Area,HDI,Continent,GDP Per Capita
France,63.951,2833687.0,640679.0,0.888,Europe,44310.284437
Germany,80.940,3874437.0,357114.0,0.916,Europe,47868.013343
Italy,60.665,2167744.0,301336.0,0.873,Europe,35733.025633
Japan,127.061,4602367.0,377930.0,0.891,Asia,36221.712406
United Kingdom,64.511,2950039.0,242495.0,0.907,Europe,45729.239975
United States,318.523,17348075.0,9525067.0,0.915,America,54464.120330

In [124]:
df.drop(['Canada', 'Japan'])

,Population,GDP,Surface Area,HDI,Continent,GDP Per Capita
France,63.951,2833687.0,640679.0,0.888,Europe,44310.284437
Germany,80.940,3874437.0,357114.0,0.916,Europe,47868.013343
Italy,60.665,2167744.0,301336.0,0.873,Europe,35733.025633
United Kingdom,64.511,2950039.0,242495.0,0.907,Europe,45729.239975
United States,318.523,17348075.0,9525067.0,0.915,America,54464.120330

In [125]:
df.drop(columns=['Population', 'HDI'])

                       GDP  Surface Area Continent  GDP Per Capita
Canada           1785387.0     9984670.0   America    50339.385908
France           2833687.0      640679.0    Europe    44310.284437
Germany          3874437.0      357114.0    Europe    47868.013343
Italy            2167744.0      301336.0    Europe    35733.025633
Japan            4602367.0      377930.0      Asia    36221.712406
United Kingdom   2950039.0      242495.0    Europe    45729.239975
United States   17348075.0     9525067.0   America    54464.120330

In [126]:
df.drop(['Italy', 'Canada'], axis=0)

,Population,GDP,Surface Area,HDI,Continent,GDP Per Capita
France,63.951,2833687.0,640679.0,0.888,Europe,44310.284437
Germany,80.940,3874437.0,357114.0,0.916,Europe,47868.013343
Japan,127.061,4602367.0,377930.0,0.891,Asia,36221.712406
United Kingdom,64.511,2950039.0,242495.0,0.907,Europe,45729.239975
United States,318.523,17348075.0,9525067.0,0.915,America,54464.120330

In [127]:
df.drop(['Population', 'HDI'], axis=1)

                       GDP  Surface Area Continent  GDP Per Capita
Canada           1785387.0     9984670.0   America    50339.385908
France           2833687.0      640679.0    Europe    44310.284437
Germany          3874437.0      357114.0    Europe    47868.013343
Italy            2167744.0      301336.0    Europe    35733.025633
Japan            4602367.0      377930.0      Asia    36221.712406
United Kingdom   2950039.0      242495.0    Europe    45729.239975
United States   17348075.0     9525067.0   America    54464.120330

In [129]:
df.drop(['Population', 'HDI'], axis='columns')

                       GDP  Surface Area Continent  GDP Per Capita
Canada           1785387.0     9984670.0   America    50339.385908
France           2833687.0      640679.0    Europe    44310.284437
Germany          3874437.0      357114.0    Europe    47868.013343
Italy            2167744.0      301336.0    Europe    35733.025633
Japan            4602367.0      377930.0      Asia    36221.712406
United Kingdom   2950039.0      242495.0    Europe    45729.239975
United States   17348075.0     9525067.0   America    54464.120330

In [130]:
df.drop(['Canada', 'Germany'], axis='rows')

,Population,GDP,Surface Area,HDI,Continent,GDP Per Capita
France,63.951,2833687.0,640679.0,0.888,Europe,44310.284437
Italy,60.665,2167744.0,301336.0,0.873,Europe,35733.025633
Japan,127.061,4602367.0,377930.0,0.891,Asia,36221.712406
United Kingdom,64.511,2950039.0,242495.0,0.907,Europe,45729.239975
United States,318.523,17348075.0,9525067.0,0.915,America,54464.120330

All these drop methods return a new DataFrame. If you'd like to modify it "in place", you can use the inplace attribute (there's an example below).

In [159]:
df_1 = df.drop(['Canada', 'Germany'], axis='rows', inplace=True)
df_1 = df

In [160]:
df_1

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

#### Dropping columns

In [175]:
df.drop(columns='HDI', inplace=True)

In [176]:
df

                Population       GDP  Surface Area Continent
France              63.951   2833687        640679    Europe
Italy               60.665   2167744        301336    Europe
Japan              127.061   4602367        377930      Asia
United Kingdom      64.511   2950039        242495    Europe
United States      318.523  17348075       9525067   America

#### Operations

In [161]:
df[['Population', 'GDP']]

                Population       GDP
France              63.951   2833687
Italy               60.665   2167744
Japan              127.061   4602367
United Kingdom      64.511   2950039
United States      318.523  17348075

In [162]:
df[['Population', 'GDP']] / 100

                Population        GDP
France             0.63951   28336.87
Italy              0.60665   21677.44
Japan              1.27061   46023.67
United Kingdom     0.64511   29500.39
United States      3.18523  173480.75

Operations with Series work at a column level, broadcasting down the rows (which can be counter intuitive).

In [163]:
crisis = pd.Series([-1_000_000, -0.3], index=['GDP', 'HDI'])
crisis

GDP   -1000000.0
HDI         -0.3
dtype: float64

In [164]:
df[['GDP', 'HDI']]

                     GDP    HDI
France           2833687  0.888
Italy            2167744  0.873
Japan            4602367  0.891
United Kingdom   2950039  0.907
United States   17348075  0.915

In [50]:
df[['GDP', 'HDI']] + crisis

                       GDP    HDI
Canada            785387.0  0.613
France           1833687.0  0.588
Germany          2874437.0  0.616
Italy            1167744.0  0.573
Japan            3602367.0  0.591
United Kingdom   1950039.0  0.607
United States   16348075.0  0.615

#### Modifying DataFrames

It's simple and intuitive, You can add columns, or replace values for columns without issues:

#### Adding a new column

In [166]:
langs = pd.Series(
    ['French', 'German', 'Italian'],
    index=['France', 'Germany', 'Italy'],
    name='Language'
)
langs

France      French
Germany     German
Italy      Italian
Name: Language, dtype: object

In [167]:
df['Language'] = langs
df

                Population       GDP  Surface Area    HDI Continent Language
France              63.951   2833687        640679  0.888    Europe   French
Italy               60.665   2167744        301336  0.873    Europe  Italian
Japan              127.061   4602367        377930  0.891      Asia      NaN
United Kingdom      64.511   2950039        242495  0.907    Europe      NaN
United States      318.523  17348075       9525067  0.915   America      NaN

#### Replacing values in the Column

In [169]:
df['Language'] = 'English'
df

                Population       GDP  Surface Area    HDI Continent Language
France              63.951   2833687        640679  0.888    Europe  English
Italy               60.665   2167744        301336  0.873    Europe  English
Japan              127.061   4602367        377930  0.891      Asia  English
United Kingdom      64.511   2950039        242495  0.907    Europe  English
United States      318.523  17348075       9525067  0.915   America  English

#### Renaming Columns

In [170]:
df.rename(
    columns={
        'HDI': 'Human Development Index',
        'Anual Popcorn Consumption': 'APC'
    }, index={
        'United States': 'USA',
        'United Kingdom': 'UK',
        'Argentina': 'AR'
    })

,Population,GDP,Surface Area,Human Development Index,Continent,Language
France,63.951,2833687,640679,0.888,Europe,English
Italy,60.665,2167744,301336,0.873,Europe,English
Japan,127.061,4602367,377930,0.891,Asia,English
UK,64.511,2950039,242495,0.907,Europe,English
USA,318.523,17348075,9525067,0.915,America,English

In [277]:
# Adding Prefix to columns
df = df.add_prefix('Shaw ')
df

,Shaw Population,Shaw GDP,Shaw Surface Area,Shaw Continent,Shaw GDP Per Capita
France,63.951,2833687.0,640679.0,Europe,44310.284437
Italy,60.665,2167744.0,301336.0,Europe,35733.025633
Japan,127.061,4602367.0,377930.0,Asia,36221.712406
United Kingdom,64.511,2950039.0,242495.0,Europe,45729.239975
United States,318.523,17348075.0,9525067.0,America,54464.120330

In [279]:
# Adding Suffix to columns
df = df.add_suffix('Shaw ')
df

,Shaw PopulationShaw Shaw,Shaw GDPShaw Shaw,Shaw Surface AreaShaw Shaw,Shaw ContinentShaw Shaw,Shaw GDP Per CapitaShaw Shaw
France,63.951,2833687.0,640679.0,Europe,44310.284437
Italy,60.665,2167744.0,301336.0,Europe,35733.025633
Japan,127.061,4602367.0,377930.0,Asia,36221.712406
United Kingdom,64.511,2950039.0,242495.0,Europe,45729.239975
United States,318.523,17348075.0,9525067.0,America,54464.120330

In [171]:
df.rename(index=str.upper) # All indexes are in upper_Case

                Population       GDP  Surface Area    HDI Continent Language
FRANCE              63.951   2833687        640679  0.888    Europe  English
ITALY               60.665   2167744        301336  0.873    Europe  English
JAPAN              127.061   4602367        377930  0.891      Asia  English
UNITED KINGDOM      64.511   2950039        242495  0.907    Europe  English
UNITED STATES      318.523  17348075       9525067  0.915   America  English

In [172]:
df.rename(index=lambda x: x.lower()) # All indexes are in lower_Case

                Population       GDP  Surface Area    HDI Continent Language
france              63.951   2833687        640679  0.888    Europe  English
italy               60.665   2167744        301336  0.873    Europe  English
japan              127.061   4602367        377930  0.891      Asia  English
united kingdom      64.511   2950039        242495  0.907    Europe  English
united states      318.523  17348075       9525067  0.915   America  English

#### Adding values

In [177]:
df.loc['China'] = pd.Series({'Population': 1_400_000_000, 'Continent': 'Asia'})

In [60]:
df

                  Population         GDP  Surface Area    HDI Continent
Canada          3.546700e+01   1785387.0     9984670.0  0.913   America
France          6.395100e+01   2833687.0      640679.0  0.888    Europe
Germany         8.094000e+01   3874437.0      357114.0  0.916    Europe
Italy           6.066500e+01   2167744.0      301336.0  0.873    Europe
Japan           1.270610e+02   4602367.0      377930.0  0.891      Asia
United Kingdom  6.451100e+01   2950039.0      242495.0  0.907    Europe
United States   3.185230e+02  17348075.0     9525067.0  0.915   America
China           1.400000e+09         NaN           NaN    NaN      Asia

We can use drop to just remove a row by index:

In [178]:
df.drop('China', inplace=True)
df

                Population         GDP  Surface Area Continent
France              63.951   2833687.0      640679.0    Europe
Italy               60.665   2167744.0      301336.0    Europe
Japan              127.061   4602367.0      377930.0      Asia
United Kingdom      64.511   2950039.0      242495.0    Europe
United States      318.523  17348075.0     9525067.0   America

#### More radical index changes

In [179]:
df.reset_index()

            index  Population         GDP  Surface Area Continent
0          France      63.951   2833687.0      640679.0    Europe
1           Italy      60.665   2167744.0      301336.0    Europe
2           Japan     127.061   4602367.0      377930.0      Asia
3  United Kingdom      64.511   2950039.0      242495.0    Europe
4   United States     318.523  17348075.0     9525067.0   America

In [180]:
df.set_index('Population')

                   GDP  Surface Area Continent
Population
63.951       2833687.0      640679.0    Europe
60.665       2167744.0      301336.0    Europe
127.061      4602367.0      377930.0      Asia
64.511       2950039.0      242495.0    Europe
318.523     17348075.0     9525067.0   America

#### Creating columns from other columns

Altering a DataFrame often involves combining different columns into another. For example, in our Countries analysis, we could try to calculate the "GDP per capita", which is just, GDP / Population.

In [181]:
df[['Population', 'GDP']]

                Population         GDP
France              63.951   2833687.0
Italy               60.665   2167744.0
Japan              127.061   4602367.0
United Kingdom      64.511   2950039.0
United States      318.523  17348075.0

The regular pandas way of expressing that, is just dividing each series:

In [182]:
df['GDP'] / df['Population']

France            44310.284437
Italy             35733.025633
Japan             36221.712406
United Kingdom    45729.239975
United States     54464.120330
dtype: float64

The result of that operation is just another series that you can add to the original DataFrame:

#### Statistical Info

You've already seen the describe method, which gives you a good "summary" of the DataFrame. Let's explore other methods in more detail:

In [183]:
df['GDP Per Capita'] = df['GDP'] / df['Population']
df

                Population         GDP  Surface Area Continent  GDP Per Capita
France              63.951   2833687.0      640679.0    Europe    44310.284437
Italy               60.665   2167744.0      301336.0    Europe    35733.025633
Japan              127.061   4602367.0      377930.0      Asia    36221.712406
United Kingdom      64.511   2950039.0      242495.0    Europe    45729.239975
United States      318.523  17348075.0     9525067.0   America    54464.120330

In [184]:
df.head()

                Population         GDP  Surface Area Continent  GDP Per Capita
France              63.951   2833687.0      640679.0    Europe    44310.284437
Italy               60.665   2167744.0      301336.0    Europe    35733.025633
Japan              127.061   4602367.0      377930.0      Asia    36221.712406
United Kingdom      64.511   2950039.0      242495.0    Europe    45729.239975
United States      318.523  17348075.0     9525067.0   America    54464.120330

In [185]:
df.describe()

       Population           GDP  Surface Area  GDP Per Capita
count    5.000000  5.000000e+00  5.000000e+00        5.000000
mean   126.942200  5.980382e+06  2.217501e+06    43291.676556
std    110.636149  6.417637e+06  4.087886e+06     7728.524668
min     60.665000  2.167744e+06  2.424950e+05    35733.025633
25%     63.951000  2.833687e+06  3.013360e+05    36221.712406
50%     64.511000  2.950039e+06  3.779300e+05    44310.284437
75%    127.061000  4.602367e+06  6.406790e+05    45729.239975
max    318.523000  1.734808e+07  9.525067e+06    54464.120330

In [186]:
population = df['Population']

In [187]:
population.min(), population.max()

(60.665, 318.523)

In [188]:
population.sum()

634.711

In [189]:
population.sum() / len(population)

126.9422

In [190]:
population.mean()

126.9422

In [191]:
population.std()

110.63614948650374

In [192]:
population.median()

64.511

In [193]:
population.describe()

count      5.000000
mean     126.942200
std      110.636149
min       60.665000
25%       63.951000
50%       64.511000
75%      127.061000
max      318.523000
Name: Population, dtype: float64

In [194]:
population.quantile(.25)

63.951

In [195]:
population.quantile([.2, .4, .6, .8, 1])

0.2     63.2938
0.4     64.2870
0.6     89.5310
0.8    165.3534
1.0    318.5230
Name: Population, dtype: float64

In [197]:
g7_pop = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [198]:
g7_pop.name = 'G7 Population in millions'
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [199]:
g7_pop.dtype

dtype('float64')

In [200]:
g7_pop.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [202]:
type(g7_pop.values)

numpy.ndarray

In [203]:
g7_pop[0]

35.467

In [204]:
g7_pop[1]

63.951

In [205]:
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [206]:
g7_pop.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

In [207]:
pd.Series({
    'Canada': 35.467,
    'France': 63.951,
    'Germany': 80.94,
    'Italy': 60.665,
    'Japan': 127.061,
    'United Kingdom': 64.511,
    'United States': 318.523
}, name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

You Can create DataFrame through using the **Indexing**

In [208]:
pd.Series(
    [35.467, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523],
    index=['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
    name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [209]:
pd.Series(g7_pop, index=['France', 'Germany', 'Italy', 'Spain'])

France     63.951
Germany    80.940
Italy      60.665
Spain         NaN
Name: G7 Population in millions, dtype: float64

#### Indexing

In [211]:
g7_pop['Canada']

35.467

In [210]:
g7_pop['Japan']

127.061

Numeric positions can also be used, with the iloc attribute:

In [212]:
g7_pop.iloc[0]

35.467

In [213]:
g7_pop.iloc[-1]

318.523

Selecting multiple elements at once:

In [214]:
g7_pop[['Italy', 'France']]

Italy     60.665
France    63.951
Name: G7 Population in millions, dtype: float64

In [215]:
g7_pop.iloc[[0, 1]]

Canada    35.467
France    63.951
Name: G7 Population in millions, dtype: float64

Slicing also works, but important, in Pandas, the upper limit is also included:

In [217]:
g7_pop['Canada': 'Italy']

Canada     35.467
France     63.951
Germany    80.940
Italy      60.665
Name: G7 Population in millions, dtype: float64

#### Conditional selection (boolean arrays)

The same boolean array techniques we saw applied to numpy arrays can be used for Pandas Series:

In [218]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [219]:
g7_pop > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in millions, dtype: bool

In [220]:
g7_pop[g7_pop > 70]

Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [221]:
g7_pop.mean()

107.30257142857144

In [222]:
g7_pop[g7_pop > g7_pop.mean()]

Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [223]:
g7_pop.std()

97.24996987121581

In [224]:
g7_pop[(g7_pop > g7_pop.mean() - g7_pop.std() / 2) | (g7_pop > g7_pop.mean() + g7_pop.std() / 2)]

France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

#### Operations & Methods

Series also support vectorized operations and aggregation functions as Numpy:

In [225]:
g7_pop * 1_000_000

Canada             35467000.0
France             63951000.0
Germany            80940000.0
Italy              60665000.0
Japan             127061000.0
United Kingdom     64511000.0
United States     318523000.0
Name: G7 Population in millions, dtype: float64

In [226]:
g7_pop.mean()

107.30257142857144

In [227]:
np.log(g7_pop)

Canada            3.568603
France            4.158117
Germany           4.393708
Italy             4.105367
Japan             4.844667
United Kingdom    4.166836
United States     5.763695
Name: G7 Population in millions, dtype: float64

In [228]:
g7_pop['France': 'Italy'].mean()

68.51866666666666

#### Boolean arrays

In [229]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [230]:
g7_pop > 80

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in millions, dtype: bool

In [231]:
g7_pop[g7_pop > 80]

Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [232]:
g7_pop[(g7_pop > 80) | (g7_pop < 40)]

Canada            35.467
Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [233]:
g7_pop[(g7_pop > 80) & (g7_pop < 200)]

Germany     80.940
Japan      127.061
Name: G7 Population in millions, dtype: float64

#### Modifying Series

In [234]:
g7_pop['Canada'] = 40.5

In [235]:
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [236]:
g7_pop.iloc[-1] = 500

In [237]:
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     500.000
Name: G7 Population in millions, dtype: float64

In [238]:
g7_pop[g7_pop < 70] = 99.99

In [239]:
g7_pop

Canada             99.990
France             99.990
Germany            80.940
Italy              99.990
Japan             127.061
United Kingdom     99.990
United States     500.000
Name: G7 Population in millions, dtype: float64

#### Series Creation
### Create an empty pandas Series

In [240]:
pd.Series()

Series([], dtype: object)

Given the X python list convert it to an Y pandas Series

In [241]:
X = ['A','B','C']
print(X, type(X))

['A', 'B', 'C'] <class 'list'>

In [242]:
Y = pd.Series(X)
print(Y, type(Y)) # different type

0    A
1    B
2    C
dtype: object <class 'pandas.core.series.Series'>

Given the X pandas Series, name it 'My letters'

In [243]:
X = pd.Series(['A','B','C'])

X.values

array(['A', 'B', 'C'], dtype=object)

### Series indexation
Assign index names to the given X pandas Series

In [244]:
X = pd.Series(['A','B','C'])
index_names = ['first', 'second', 'third']

X.index = index_names
X

first     A
second    B
third     C
dtype: object

Given the X pandas Series, show its first element

In [245]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

#X[0] # by position
#X.iloc[0] # by position
X['first'] # by index

'A'

Given the X pandas Series, show its last element

In [246]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

#X[-1] # by position
#X.iloc[-1] # by position
X['third'] # by index

'C'

Given the X pandas Series, show all middle elements

In [247]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X[['second', 'third', 'forth']]
#X.iloc[1:-1] # by position
X[1:-1] # by position

second    B
third     C
forth     D
dtype: object

Given the X pandas Series, show the elements in reverse position

In [248]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X.iloc[::-1]
X[::-1]

fifth     E
forth     D
third     C
second    B
first     A
dtype: object

Given the X pandas Series, show the first and last elements

In [249]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X[['first', 'fifth']]
#X.iloc[[0, -1]]
X[[0, -1]]

first    A
fifth    E
dtype: object

## Series manipulation
Convert the given integer pandas Series to float

In [253]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

pd.Series(X, dtype=np.float64)

first     1.0
second    2.0
third     3.0
forth     4.0
fifth     5.0
dtype: float64

Reverse the given pandas Series (first element becomes last)

In [254]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

X[::-1]

fifth     5
forth     4
third     3
second    2
first     1
dtype: int64

Order (sort) the given pandas Series

In [255]:
X = pd.Series([4,2,5,1,3],
              index=['forth','second','fifth','first','third'])

X = X.sort_values()
X

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

Given the X pandas Series, set the fifth element equal to 10

In [256]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X[4] = 10
X

A     1
B     2
C     3
D     4
E    10
dtype: int64

Given the X pandas Series, change all the middle elements to 0

In [257]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X[1:-1] = 0
X

A    1
B    0
C    0
D    0
E    5
dtype: int64

Given the X pandas Series, add 5 to every element

In [258]:
X = pd.Series([1,2,3,4,5])

X + 5

0     6
1     7
2     8
3     9
4    10
dtype: int64

#### Series Boolean Arrays (also called Masks)
Given the X pandas Series, make a mask showing negative elements

In [259]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
mask

0     True
1    False
2     True
3     True
4    False
5    False
6     True
7     True
8     True
9    False
dtype: bool

Given the X pandas Series, get the negative elements

In [260]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
X[mask]

0   -1
2    0
3   -4
6    0
7    0
8   -9
dtype: int64

Given the X pandas Series, get numbers higher than 5

In [261]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X > 5
X[mask]

5     6
9    10
dtype: int64

Given the X pandas Series, get numbers higher than the elements mean

In [262]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X > X.mean()
X[mask]

1     2
4     5
5     6
9    10
dtype: int64

Given the X pandas Series, get numbers equal to 2 or 10

In [263]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = (X == 2) | (X == 10)
X[mask]

1     2
9    10
dtype: int64

#### Logic functions
Given the X pandas Series, return True if none of its elements is zero

In [266]:
X = pd.Series([-1,2,-4,5,6,-9, 0, 10])

X.all()

False

Given the X pandas Series, return True if any of its elements is zero

In [267]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X.any()

True

#### Summary Statistics
Given the X pandas Series, show the sum of its elements

In [269]:
X = pd.Series([3,5,6,7,2,3,4,9,4])

#np.sum(X)
X.sum()

43

Given the X pandas Series, show the mean value of its elements

In [270]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])

#np.mean(X)
X.mean()

3.7

Given the X pandas Series, show the max value of its elements

In [271]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])

#np.max(X)
X.max()

10