# ***Python Programming*:**

> The language you're learning here:
    
    Python is a popular, 30-year-old general purpose programming language created by Guido van Rossum. Compared with some other languages, it's reasonably easy to learn, and it's relatively easy to read. Python is often used to teach beginners the fundamentals of programming

### 1. *Print*
* Display whatâ€™s inside the parentheses.
* This will print a string (means that inside in the commas).

In [90]:
print("Shaw")
print(2+3)
print("We learn data science from codanics")
print(2+38+(6*3/5)*5.3+69)
print("2023 for Data Science")
print((2**3)/36*78+52-30)
print(36/6*3+2**2-8)
print(10/(3+2)*4+5**2+6-9)
print(5-(-2)**3)

Shaw
5
We learn data science from codanics
128.07999999999998
2023 for Data Science
39.33333333333333
14.0
30.0
13

### 2. *Variables for Strings*

Rules to assign a variable 2023 
1. The Variable should contain letters, numbers or underscores
2. Do not start with numbers/Special Characters at the begining 
3. Spaces are not allowed 
4. Do not use Functional keywords used in python (break, mean, median, test etc.)
5. Short and descriptive 
6. Case senstivity (Lowercase, Uppercase letters either lowercase letters should be used )
7. Don't ever repeat the same variable (pehlay wala update ho jay ga)
8. Don't use "" when using variables
Pros:
1. It reduces the human effort for coding 
2. easy to write for long datasets
3. Easy to recall

Strategy
1. Only those words used that is not include in python library
2. Python Keywords (False	def	if	raise
3. None	del	import	return
4. True	elif	in	try
5. and	else	is	while
6. as	except	lambda	with
7. assert	finally	nonlocal	yield
8. break	for	not	
9. class	from	or	
10. continue	global	pass)

In [16]:
c = "HELLO Shaw Rick";
print (c)

HELLO Shaw Rick

In [17]:
c ="SHARIQ";
print ("MY NAME IS " +c);

MY NAME IS SHARIQ

In [18]:
x = "SHAW";
y = "RICK";
z = x + y;
print (z);

SHAWRICK

### 3. *Variable for Numbers*

In [4]:
a = 5;
b = 10;
c = a + b;
print (c)

15

In [6]:
f = "4";
g = "8";
h = f + g;
print (h);

48

In [7]:
a = 10;
b = 20;
c = a + b;
print (c);

30

In [8]:
x = 8;
y = x + 7;
z = y - x + 1; 
print (z);

8

In [9]:
a = 12 - 4 / 2 + 9 * 5;
print (a);

55.0

In [10]:
a = ( (12 - 4)  / (2 + 9) * 5);
print (a);

3.6363636363636367

In [11]:
x = 10;
y = x%3;
print (y);

1

In [12]:
f = 10;
f = 12;
print (f);

12

In [13]:
g = 5 
g = g + 2;
print (g);

7

In [14]:
a = 3;
a+=3;
print (a);

6

### 4. *Operators*

In [20]:
print(2+69)
print(65-32)
print(35/5) #you will get a float (decimal) number
print(25*36) 
print(13%6) # remainder after division
print(7//2) #you will get an answer (INT) 
print(4**6) #exponent 

#PEMDAS
print(3**2/2+6-4/(2*6))

71
33
7.0
900
1
3
4096
10.166666666666666

### 5. *Concatenation Strings*

In [22]:
print("Hello World")
print('I am learning Data Science')
print("Learn new thing in '2023'")
print('''
Data Science is DS 
        demanding field
                    you wanna master degree''')
print("What's up?")
print("2+3+6*9")

Hello World
I am learning Data Science
Learn new thing in '2023'

Data Science is DS
        demanding field
                    you wanna master degree
What's up?
2+3+6*9

In [93]:
# steps-1: why to use single quotation?
print('Shaw') # when we are writing in string
print("What's up?") # when writing strings and making use of other quotation marks

# step-3: When to use '''triple quotation marks'''?
print('''
Shaw
Rick
''') 
# to write multiline string and also using """" or ''' quotation marks inside

Shaw
What's up?

Shaw
Rick

In [94]:
#use _doc_ attribute
def cube(n):
     '''Takes in a number n, returns the cube of n'''
     return n**3

print(cube.__doc__)

Takes in a number n, returns the cube of n

### 6. *If Else Elif Statements*

In [23]:
gender = "male";
if gender == "male":
    print ("Allow for Ride");

Allow for Ride

In [24]:
gender = "female";
if gender == "male":
    print ("Allow for Ride");
else:
    print ("ROK LO");

ROK LO

In [25]:
age = 14;
gender = "female";
if age > 18 or gender == "male":
    print ("Allow for Ride");
else:
    print ("ROK LO");

ROK LO

In [26]:
percent = 82;
if percent < 100 and percent > 80 :
    print ("Grade A+")
elif  percent < 80 and percent > 70 :
        print ("Grade A"); 
else :
    print ("Fail")

Grade A+

# x = "Marksheet";
percent = 85;\
if percent < 95 and percent > 80 :\
    print ("Grade A+")\
elif percent < 79 and percent > 70 :\
    print ("Grade A")\
elif percent < 69 and percent > 60 :\
    print ("Grade B")\
elif percent < 59 and percent > 50 :\
    print ("Grade C")\
else :\
    Print ("Fail")

In [27]:
x = "Marksheet";
percent = 65;
if percent < 100 and percent > 90 :
    Print ("Grade A+")
elif percent < 90 and percent > 80 :
    print ("Grade A-")
elif percent < 80 and percent > 70 :
    print ("Grade A")
elif percent < 70 and percent > 60 :
    print ("Grade B")
elif percent < 60 and percent > 50 :
    print ("Grade C")
elif percent < 50 and percent > 40 :
    print ("Grade D")
else :
    print ("Fail")

Grade B

In [28]:
eng = 55;
isl = 85;
maths = 95; 
total = 300; 
percent = (eng + isl + maths )/total*100;
if percent < 100 and percent >= 80 :
    print ("A+");
elif percent < 80 and percent >= 70 :
    print ("A"); 
elif percent < 70 and percent >= 60 :
        print ("C"); 
elif percent < 60 and percent >= 50 : 
        print ("D"); 
elif percent < 50 and percent >= 40 : 
        print ("E"); 
elif percent < 40 and percent >= 33 : 
        print ("F");
elif percent < 0 and percent > 100 : 
        print (" You didnot write correct percent");
else :
    Print ("Fail");

A

In [30]:
eng =  int (input ( "EnterEnglish Marks"));
isl =  int (input ( "Enter Islamiat Marks"));
maths = int ( input ( "Enter Maths Marks")); 
total = 300; 
percent = (eng + isl + maths)/total*100;
if percent < 100 and percent >= 80:
    print ("A+");
elif percent < 80 and percent >= 70: 
    print ("A"); 
elif percent < 70 and percent >= 60: 
    print ("B"); 
elif percent < 60 and percent >= 50: 
    print ("C"); 
elif percent < 50 and percent >= 40: 
    print ("D"); 
elif percent < 40 and percent >= 33: 
    print ("E");
elif percent < 0 and percent > 100: 
    print (" You didnot write correct percent");
else :
    print ("Fail");

A+

In [32]:
required_age_at_school = 4
hammad_age = 4

# question: can hammad go to school

if hammad_age == required_age_at_school:
    print("Hammad can join the school")
else:
    print("Hammad can not go to school")

Hammad can join the school

In [33]:
required_age_at_school = 2
hammad_age = 1

# question: can hammad go to school

if hammad_age == required_age_at_school:
    print("Congratualtion! Hammad can join the school.")
elif hammad_age > required_age_at_school:
    print("Hammad should join higher secondary school")
elif hammad_age <= 2:
    print("You should take care of hammad, he is still baby")
else:
    print("Hammad can not go to school")

You should take care of hammad, he is still baby

### 7. *Comparison Operator*

In [34]:
# logical operator are either "true or false" "yes/no" "0/1"
     # equal to                      ==
     # not equal to                  !=    
     # less than                     <
     # greater than                  >
     # less than and equal to        <=    
     # greater than and equal to     >=
     # and, or, True and False, not
     # #is 4 equal to 4?

print(4==4)
print(4!=4)
print(4>3)
print(3<6)
print(4<=6)
print(8>=5)

True
False
True
True
True
True

In [36]:
#application of logical operator
Ali_age=4
age_at_school=5
print(Ali_age==age_at_school)

#input operator and logic 
age_at_school=5
Ali_age_=input("How old is ali?")  #input function
Ali_age=int(Ali_age)
print(type(Ali_age))
print(Ali_age==age_at_school) # logical operator

False
<class 'int'>
False

### 8. *Comments*
    A comment is a piece of text that has no effect on the program's execution but can be used to explain code or provide context for other

In [35]:
# Subject of this python script:

### 9. *Lists*
A list is a collection of items in Python, and it can contain different types of data such as integers, strings, or even other lists.

In [37]:
food = ['Apple', 'Mango', 'Banana', 'Pine apple']
print(food)

['Apple', 'Mango', 'Banana', 'Pine apple']

In [38]:
print(food[-1])
# Update the List
food[1] = "Water Melon"
print(food)

Pine apple
['Apple', 'Water Melon', 'Banana', 'Pine apple']

#### i. *Append in List*

In [39]:
# Add an item in list using append() method.
food.append('Strawberry')   # add a new element at last index position
print(food)

['Apple', 'Water Melon', 'Banana', 'Pine apple', 'Strawberry']

In [41]:
food.insert(4 ,'Strawberry')   # add a new element at last index position
print(food)

['Apple', 'Water Melon', 'Banana', 'Pine apple', 'Strawberry', 'Strawberry']

### ii. *Slicing in List*
> Slicing is a powerful feature in Python that allows you to extract parts of an array or list, and it can be used with strings

In [44]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]
list_of_cities = cities[2:5]

### iii. *Deleting & Removing in List*

In [54]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]
del tasks [0]

In [55]:
tasks.remove("call Sarah")

In [124]:
arr = ["lion", 11, True,5.65];
print (arr);

['lion', 11, True, 5.65]

In [125]:
newList = tasks + arr;
print (newList);

['meet with Zach', 'lion', 11, True, 5.65]

In [126]:
tasks = tasks.insert(3,"RAshid")
print(tasks)

None

In [127]:
arr2 = arr[2:4];
print(arr2);

[True, 5.65]

In [128]:
arr.pop()
print(arr);

['lion', 11, True]

### 9.iv. *Popping Elements in List*
Implement a function `pop_elements(lst, n)` that removes the first `n` elements from list `lst`.

### 10. *Tuples*
`A tuple is a collection of objects which are ordered and immutable (cannot be changed). Tuple can contain different types of data like integer.`

In [58]:
coordinates = (4.21, 9.29)
print(coordinates)

(4.21, 9.29)

### 11. *Loops*
1. For loops & Nested loops
2. While loops & Nested loops

In [59]:
# while loops 
x=1
while (x<6):
    print(x)
    x=x+1

# for loop
n = 2
for i in range(1,11):
     table = n*i
     print(table)

1
2
3
4
5
2
4
6
8
10
12
14
16
18
20

In [60]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for item in numbers:
     if item > 500:
         break
     elif item > 150:
         continue
# check if number is divisible by 5
     elif item % 5 == 0:
         print(item)

75
150
145

In [65]:
num = 75869
count = 0
while num != 0:
     # floor division
     # to reduce the last digit from number
     num = num // 10

# increment counter by 1
     count = count + 1
print("Total digits are:", count)

Total digits are: 5

In [66]:
# Nested For and While Loops (Loops is a loop within an another)
colors = ['red', 'white', 'blue']
items = ['book', 'pen']

for color in colors :
     for item in items :
         print(color , item )

red book
red pen
white book
white pen
blue book
blue pen

In [70]:
# Nested While loop
i=0
while i < 3:
      j =0
      while j <3:
         print(i,j)
         j +=1
         i += 1

0 0
1 1
2 2

In [71]:
# For loop inside while loop
i = 1
while i < 4:
    for j in range(3):
        print(i,j)
        i += 1

1 0
2 1
3 2

In [100]:
#for loop
n = 2
for i in range(1,11):
     table = n*i
     print(table)

numbers = [12, 75, 150, 180, 145, 525, 50]
for item in numbers:
     if item > 500:
         break
     elif item > 150:
         continue
# check if number is divisible by 5
     elif item % 5 == 0:
         print(item)

2
4
6
8
10
12
14
16
18
20
75
150
145

In [104]:
# while loop inside for loop:

days = ["Mon", "Tue", "Wed", "Thrus", "Fri", "Sat", "Sun"]

for d in days:
    if (d=="Fri"):break  #loop stops
    if (d=="Fri"):continue #skips d
    if (d=='Fri'): pass # Pass means print all the things
    print(d)

Mon
Tue
Wed
Thrus

In [117]:
# Transpose 
# [1,2,3,4]
# [5,6,7,8,]
# [1,5]
# [2,6]
# [3,7]
# [4,8]

matrix = [[1,2,3,4],[5,6,7,8]]
transpose = []
for i in range(len(matrix[0])):
    row = []
    for j in matrix:
        row.append(j[i])
        transpose.append(row)
transpose

[[1, 5], [1, 5], [2, 6], [2, 6], [3, 7], [3, 7], [4, 8], [4, 8]]

In [118]:
transpose = [[row[i] for row in matrix] for i in range (len(matrix[0]))]
transpose

[[1, 5], [2, 6], [3, 7], [4, 8]]

### 12. *Input Function*

In [72]:
name = "Shaw"
print(name)

name = input("What is your name?")
print("Hello", name, "How are you?")

Shaw
Hello shaw How are you?

In [76]:
name= input("what is your name?")
age= input("How old are you?")
greeting= "Hello!"

print(greeting, name, "Your are still young")

Hello! shaw Your are still young

In [99]:
# BMI Calculator

name = input("Enter your name:")
height = float(input("Enter your height:"))
weight = int(input("Enter your weight:"))

# question: Hammad is uderweight, Normal range, overweight, and obese
if (height <5.3 or weight<=30):
     print('Under Weight')
elif ((weight>=40) & (height<=5.7)):
     print ('Normal Range')
elif((height>5.3) & (weight<=70)):
     print ("OverWeight")
else :
     print ("Obese")

OverWeight

### 13. *Dictionaries*

In [77]:
person={'name':'ali','age':4}
print(person['name'])

person['name'] = 'title'
print(person)

ali
{'name': 'title', 'age': 4}

In [119]:
a = {
'a':["apple","bananas","orange"],
'b':["onion","potato","carrot"],
'c':"car",
'd':"bike"
}
a['b'][1]

'potato'

In [120]:
a = {
'a':["apple","bananas","orange"],
'b':["onion","potato","carrot"],
'c':"car",
'd':"bike"
}

print(a.get('f'))

None

In [121]:
a = {
'a':["apple","bananas","orange"],
'b':["onion","potato","carrot"],
'c':"car",
'd':"bike"
}

a.get('f', "Not found")

'Not found'

In [122]:
list1 = [1,2,3,4,5,6,7] #keys 
list2 = ['a','b','c','d','e'] #values
res ={}

for key in list1:
    for value in list2:
        res[key] = value
        list2.remove(value)
        break
res

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [123]:
list1 = [1,2,3,4,5,6,7] #keys 
list2 = ['a','b','c','d','e',] #values
res ={}

res = dict(zip(list1,list2))
res

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

### 14. *Functions*

1. A function is a block of code which only runs when it is called.
2. You can pass data, known as paramenters, into a functions, 
3. Functions can return data as a result. 
4. In python, a function is defined using the def keyword.

In [81]:
# defining a functions

def print_codanics():
     print("We are learning with Data Science")
     print("We are learning with Data Science")
     print("We are learning with Data Science")

print_codanics()

We are learning with Data Science
We are learning with Data Science
We are learning with Data Science

In [82]:
def print_codanics():
     text = "We are learning with Aammar"
     print(text)
     print(text)
     print(text)
print_codanics()

We are learning with Aammar
We are learning with Aammar
We are learning with Aammar

In [83]:
def print_codanics(text):
     print(text)
     print(text)
     print(text)

print_codanics("We are learning python with Aammar in codanics youtube channel")

We are learning python with Aammar in codanics youtube channel
We are learning python with Aammar in codanics youtube channel
We are learning python with Aammar in codanics youtube channel

In [86]:
# defining a function with if, elif and else statements

def school_calculator(age):
     if age == 5:
         print("Hammad can join the school")
     elif age >5:
         print("Hammad should go to higher school")
     else:
         print("Hammad is still a baby")

school_calculator(10)

Hammad should go to higher school

In [87]:
# defining a function of future 

def future_age(age):
     new_age=age+20
     return new_age
     print(new_age)

future_predicted_age= future_age(10)
print(future_predicted_age)

30

In [107]:
def greet_user():
     print("Hello User!")
greet_user()

def aoa():
     print("Assalam o Alikum, All the way from London")
aoa()

def aoa(name):
     print(f'Assalam O Alaikum ' + name )
aoa('ali')

def aoa(name = "Khuda kay Banday"):
     print(f'Assalam O Alaikum ' + name )
aoa()

def square(number):
     return number * number
print(square(9))

# Recursion Function
def factorial(n):
     if n ==1:
         return 1
     else:
         return (factorial(n-1) * n)
print(factorial(6))

# lambda Function
x = lambda a: a/10
print(x(5))

x = lambda a, b: a*b
print(x(2,8))

Hello User!
Assalam o Alikum, All the way from London
Assalam O Alaikum ali
Assalam O Alaikum Khuda kay Banday
81
720
0.5
16

In [108]:
def x(a):
    return a/2
x = lambda a: a/2
print(x(4))

def x (a,b):
    return a*b
x = lambda a, b: a*b
print(x(2,8))

2.0
16

### 15. *Type Casting*

In [91]:
# What is Type Casting and how do we use that in python?
num_int = 123
num_float = 1.23
num_new = num_int + num_float

print("datatype of num_int:" , type(num_int))
print("datatype of num_float:" , type(num_float))

print("value of num_new:" , num_new)
print("datatype of num_new:" , type(num_new))

datatype of num_int: <class 'int'>
datatype of num_float: <class 'float'>
value of num_new: 124.23
datatype of num_new: <class 'float'>

In [95]:
# Data Types 
# x = 5 # integer
# y = 5.0 # float
# z = 'Hello' #'string'
# a = [1,'hello',True] #[list]
# b =(1,"hello",True)#tuple
# c = {'Ahmed':5.0, 'Shaw':5.2, 'Hammad':5.3} # Dictionary First Key and second is value
# d = {1,2,3} #set

### 16. *Boolean Operator / Binary Data*
In programming, boolean operators are used to perform logical operations on variables or expressions and return a result of `true` or `false`.

In [97]:
# Set
fruit = ['Apple', 'Mango', 'Banana', 'Pine apple']
print(fruit)
fruit.append('Blue Barrey')
print(fruit)
for x in range(len(fruit)):
    print(x, fruit[x])

['Apple', 'Mango', 'Banana', 'Pine apple']
['Apple', 'Mango', 'Banana', 'Pine apple', 'Blue Barrey']
0 Apple
1 Mango
2 Banana
3 Pine apple
4 Blue Barrey

### 17. *Errors*

In [112]:
# Syntax Error - When you write code that is not valid Python. This means there are one of two things wrong with your program; either it's
x=5
if x >3:
    print("x is a positive value")

# logical or human error
if x >3:
     print("y is a positive value")

x is a positive value
y is a positive value

1. Runtime or Module not Found Error:
    1. name error
    2. Type Error
    3. Value Error
    4. Index Error
    5. Key Error
    6. Attribute Error
    7. Zero Division Error (1/0)
    8. File not Found Error
    9. Import Error
    10. Memory Error
    11. Timeout Error

### 18. *Libraries*

In [113]:
# Import_Libaries
# if you want to print the value of pi 

# import math
# print("the value of pi is", math.pi)

# import statistics
# x= [150,250,350,450]
# print(statistics.mean(x))

# numpy, pnadas, 
# if you want to print the value of pi 

# TroubleShooting 
# print(We are learning python with Aammar) #syntax error

# print(25/0) #runtime error

1. Dataframe is made up of columns/rows/index/variables
2. There are two types of data 
   1) Primary data 
   2) Secondary data 
3. Websites link where you find the data 
    1. kaggle.com 
    2. google data ssearch 
    3. Github.com 
    4. faostats.com 
    5. websites-wikipedia-twitter (sentiment analysis)-scarping from websites
    6. Stats 
    7. Nadra 
    8. crime detection-DNA (forsenics) 
    9. Business Analtics (dollar stock exchange) 
    10. Uni database 
4. Research Paper- publish-Data analysis- publish

In [106]:
# import numpy as np

# def calculate(matrix):
#   """Calculates the mean, variance, standard deviation, max, min, and sum of the rows, columns, and elements in a 3 x 3 matrix."""

# Convert the matrix to a Numpy array
#   array = np.array(matrix)

# Calculate the mean, variance, standard deviation, max, min, and sum of the rows
#   mean_row = np.mean(array, axis=1)
#   var_row = np.var(array, axis=1)
#   std_row = np.std(array, axis=1)
#   max_row = np.max(array, axis=1)
#   min_row = np.min(array, axis=1)
#   sum_row = np.sum(array, axis=1)

# Calculate the mean, variance, standard deviation, max, min, and sum of the columns
#   mean_col = np.mean(array, axis=0)
#   var_col = np.var(array, axis=0)
#   std_col = np.std(array, axis=0)
#   max_col = np.max(array, axis=0)
#   min_col = np.min(array, axis=0)
#   sum_col = np.sum(array, axis=0)

#  Calculate the mean, variance, standard deviation, max, min, and sum of the elements
#   mean_flat = np.mean(array)
#   var_flat = np.var(array)
#   std_flat = np.std(array)
#   max_flat = np.max(array)
#   min_flat = np.min(array)
#   sum_flat = np.sum(array)

#  Return the results
#   return {
#     "mean_row": mean_row,
#     "var_row": var_row,
#     "std_row": std_row,
#     "max_row": max_row,
#     "min_row": min_row,
#     "sum_row": sum_row,
#     "mean_col": mean_col,
#     "var_col": var_col,
#     "std_col": std_col,
#     "max_col": max_col,
#     "min_col": min_col,
#     "sum_col": sum_col,
#     "mean_flat": mean_flat,
#     "var_flat": var_flat,
#     "std_flat": std_flat,
#     "max_flat": max_flat,
#     "min_flat": min_flat,
#     "sum_flat": sum_flat,
#   }

In [114]:
import sys
print("Python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

Python version
3.11.4 (tags/v3.11.4:d2340ef, Jun  7 2023, 05:45:37) [MSC v.1934 64 bit (AMD64)]
Version info.
sys.version_info(major=3, minor=11, micro=4, releaselevel='final', serial=0)

In [115]:
import datetime
now = datetime.datetime.now()
print("Current date and time: ")
print(str(now))

Current date and time:
2023-10-28 15:49:58.326262

In [116]:
from math import pi
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

The area of the circle with radius 3.5 is: 38.48451000647496